body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 50px;
}


.inputbar {
  margin-bottom: 20px;
  padding: 5px;
  input {
    font-size: 1.5em;
    border-radius: .25em;
  }
}

.note {
  background-color:rgb(255,255,255);
	color: rgb(0,0,0);
  cursor:pointer;
  padding: 4%;
  padding-top: 0;
  width: 20%;
  height: 20%;
  box-shadow: 5px 5px 5px gray;
  margin: 2%;
  resize: both;
  overflow: auto;

  // border: black;
  // border-style: solid;
}



.header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
  width: 100%;
  height: 3ex;
  //padding: 3%;
  padding-top: 0px;

  // border: black;
  // border-style: solid;
}

.icons {
//   display:flex;
}
#icons {
  //display: inline;
}

.title {
  display:flex;
}


#textbox textarea {
  padding: 5%;
  width: 90%;
  height: 90%
}

.textbox {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 90%;
  height: 80%
}

// http://www.bestcssbuttongenerator.com/#/21

.button {
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}

.button:hover {
	background-color:#bc80ea;
}

.button:active {
	position:relative;
	top:1px;
}

.noteContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.text {
  display:flex;
  align-items: flex-start;;
  justify-content: flex-start;;
  overflow-y: scroll;
  width: 100%;
  height: 80%;
  padding: 2%;
  padding-top: 0px;
}
