body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 50px;
}


.inputbar {
  display:inline-block;
  margin-bottom: 20px;
  padding: 5px;
  input {
    font-size: 1.5em;
    border-radius: .25em;
  }
}

.note {
  background-color:rgb(255,255,255);
	display:flex;
  flex-direction: row;
  flex-wrap: wrap;
	color: rgb(0,0,0);
  cursor:pointer;
  padding: 0px;
  width: 15em;
  height: 10em;
}

.header {
  display:flex;
  align-items: center;
  width: 15em;
  height: 2em;
  padding: 1em;
  padding-top: 0px;
}

.icons {
  display:flex;
}

.title {
  display:flex;
}

ul#icons li {
  display: inline;
  //margin: 0;
  //padding: 0px;
}

.textbox {
  display: flex;
  padding: 5px;
}
